:root {
  --ff-primary: 'Inter', sans-serif;

  --clr-white: #fff;
  --clr-dark: #141414;
  --clr-gray: #918E9B;
}

/* ==================== */
/*    Typography        */
/* ==================== */

body {
  font-family: var(--ff-primary);
  background-color: #F5F5F5;
}

h1 {
  font-size: 76px;
  font-weight: bold;
  margin: 0;
  color: #fff;
  font-family: 'Calistoga', cursive;
}

.result-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  color: var(--clr-dark);
}

.result-description {
  font-size: 0.75rem;
  font-weight: normal;

  color: var(--clr-dark);

}

/* ==================== */
/*    Header Section    */
/* ==================== */

header {
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header-bg.png);
  background-blend-mode: multiply;

  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;

  padding: 2em 0;
}

.search-section {
  display: flex;
}

input,
.select {
  height: 2.5em;
  border: 1px solid #cbcbcb;;
}

.search-section input {
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 1rem;
  color: #757474;
  background-color: #fff;
  width: 300px;
  padding: 0.5em 3em 0.5em 0.5em;
}

.select {

  padding: 0.5em 1em; 
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 1rem;
  width: max-content;
  text-transform: capitalize;
  appearance: none;
  background: url(../images/select.png) no-repeat right 0.5em center var(--clr-white);
}


/* ==================== */
/*    Result Section    */
/* ==================== */

.result-section {
  margin: 2em 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

.result-card {
  grid-column: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  border: #EAEAEA 1px solid;
  width: 300px;
  height: 450px;
  background-color: #FFFFFF;
}

.result-image {
  
  background-color: #EAEAEA;
  border-radius: 50%;
}