body {
  font-family: 'Smythe', cursive;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 450px;
} 


 

header {
  height: 150px;
  background-image: url(./images/intro-background.jpg);
  background-repeat: no-repeat;
  object-fit: cover; 
  margin-bottom: 1em;

}

header h1 {
  margin: 0;
  font-weight: 400;
}

header p {
  margin-top: .5em;
}

.intro {
  color: #fff;
  padding-left: 3em;
  padding-top: 2.75em;
}

/* menu */


/* modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
  text-align: center;
}

button {
  background-color: #16DB99;
  border: none;
  border-radius: 3.8px;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 0.5em 1em;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 90%;
  margin: 0 auto 1.25em auto;
  padding: 10px 15px;
}

.menu-items-container {
  max-width: 100%;
  margin: 0 auto;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  border-bottom: 1px solid #D2D2D2;
}

.flex-container {
  display: flex;
  align-items: center;
}

.emoji {
  font-size: 4em;
  margin: 0;
}

.items {
  margin-left: 1em;
}

.item-pic {
  width: 70px;
}

.item-name {
  font-size: 1.5rem;
  margin-top: 0.7em;
  margin-bottom: 0;
}

.ingredients {
  margin: 0;
  color: #8B8B8B;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 350px;
  height: 350px;
  overflow: auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 6px 2px #666;
  font-family: Verdana, sans-serif;
}

i {
  border: 1px solid #DEDEDE;
  border-radius: 50%;
  padding: .75em;
  margin-right: 1em;
  cursor: pointer;
}

i:hover,
i:focus {
  background-color: #000;
  color: #fff;
}

/* order total */

.order-total {
  max-width: 100%;
  margin: 0 auto;
  display: none;
}

.order-total h2 {
  text-align: center;
  margin: 1.3em 1em 0 2em;
}


.total-price {
  margin-top: 1em;
  border-top: 1px solid #000;
}

.order-list-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.total-price {
  display: flex;
  justify-content: space-between;
}

.item-name {
  margin-top: 0.4em;
}

.remove {
  font-size: 0.7rem;
  font-weight: var(--fw-normal);
  background-color: transparent;
  border: none;
  color: #BBBBBB;
  margin-left: 1em;
  cursor: pointer;
  align-self: center;
}

.sub-items {
  display: flex;
  flex-direction: row;
}

.complete-order {
  background-color: #16DB99;
  border: none;
  border-radius: 3.8px;
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.7em 1em;
  color: #fff;
  margin-top: 2em;
  cursor: pointer;
  font-family: Verdana, sans-serif;
}

.order-complete {
  display: none;
  background-color: #ECFDF5;
  color: #065F46;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5em 0.5em;
  margin-top: 1em;
}