*, 
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Sans Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;
  --clr-light: #fff;
  --
}