/* Reset

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* typography */

:root {
  --ff-primary: 'Poppins', sans-serif;

  --fw-bold: 700;
  --fw-regular: 400;

  --fs-h1: 2.25rem;
  --fs-h2: 1.3125rem;
  --fs-body: 1rem;

  --clr-accent: #9E4770;
  --clr-dark: #201A23;
  --clr-accent-dark: #44354A;
  --clr-light: #fff;

}

/* general styles */

body {
  font-family:var(--ff-primary);
  color: var(--clr-light);
  font-weight: var(--fw-regular);
  font-size: var(--fs-body);
}

h1 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h1);
  text-align: center;
}

img {
  width: 175px;
  text-align: center;
  margin-inline: auto;
}

.subtitle {
  font-weight: var(--fw-bold);
  font-size: var(--fs-body);
  text-align: center;
  margin-top: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  background-color: var(--clr-dark);
  margin: 0 auto;
}

.salesboard {
  width: 85%;
}

.salesboard-header {
  margin-bottom: 1rem;
  text-align: center;
}

.total-section {

  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 5px;
}

.total-section-subtitle {
  width: 50%;
  
}

.total-section .input {
  width: 100%;
}

.btns {
  margin-top: 0 auto;
  text-align: center;
  
}



button {
  padding: 0.5rem 2rem;
  background-color: var(--clr-accent);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--clr-light);

}

.reset {
  font-weight: var(--fw-bold);
  margin-top: 1.5rem;

}


.display .input {
  width: 100%;
}

.input {
  background-color: var(--clr-accent-dark);
  border: none;
  border-radius: 2.5rem;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1rem;
}

.total-section .input {
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
  text-align: center;
}

/* achievements */

.achievements {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.achivements-texts {
  width: 85%;
  margin: 0 auto;
}

li {
  list-style: none;  
  padding-top: 1rem;
}

